---
// src/pages/index.astro
import MySiteLayout from '../layouts/Page.astro';

---
<html>
<MySiteLayout title = "test2">
    <h1 class="font-display text-3xl">vanaf hier is TODO</h1>
    <p>My page content, wrapped in a layout!</p>
</MySiteLayout>
</html>