---
const {title} = Astro.props;
---
<!-- Main Hero Content -->
<div class="container max-w-none px-4 py-32 mx-auto text-left bg-center bg-no-repeat bg-contain md:text-center" style="background-image: url('/images/profielfoto 1.png')">
    
    <!-- <div class="mx-auto mt-2 text-neutral-700 md:text-center lg:text-lg bg-gray-100/50 rounded-md">
        <h1 class="font-body text-3xl font-medium md:text-center sm:leading-none lg:text-5xl">
            <span class="inline md:block">Cuisine K</span>
        </h1>
        <p class="font-display md:text-center sm:leading-none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta voluptatem ab necessitatibus illo praesentium
        culpa excepturi quae commodi quaerat,</p>
    </div>
    <div class="flex flex-col items-center mt-12 text-center">
        <span class="relative inline-flex w-full md:w-auto">
            <a href="#_" type="button" class="inline-flex items-center justify-center px-6 py-2 text-base font-bold leading-6 text-white bg-green-600 rounded-full lg:w-full md:w-auto hover:bg-green-500 focus:outline-none">
                Buy Now
            </a>
        </span>
    </div>-->
</div>
<!-- End Main Hero Content -->