---
// src/layouts/MenuLayout.astro
import { Markdown } from 'astro/components';
import HtmlHead from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
const { content } = Astro.props;
const {title, voor, hoofd, na} = content;
---

<HtmlHead title="CuisineK"/>

<body>
<!-- scoped Astro styles that apply only to the current page (not to children or other components) -->
<style>
	h4 {
	text-transform: capitalize;
	font-family: "Caviar Dreams";
	font-weight: 600;
	text-align: left;
	}
	blockquote {
	display: flex;
  	justify-content: flex-end;
	text-align: right;
	}
	p {
	text-align: left;
	}
</style>
	<div class="md:flex flex-col md:container md:mx-auto text-center sm:text-left justify-center">
		<Header title="Cuisine K" />
		<Hero />
		<main>
			<h1 class="text-center">{title}</h1>
			<slot/>
			<h3 class="text-left">Voorgerecht</h3>
		 		<Markdown>{voor}</Markdown>
			<h3 class="text-left">Hoofdgerecht</h3>
				<Markdown>{hoofd}</Markdown>
			<h3 class="text-left">Nagerecht</h3>
		 		<Markdown>{na}</Markdown>
			
			
		</main>
		<Footer title="Cuisine K"/>
	</div>
</body>