---
// src/layouts/Page.astro
import HtmlHead from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Extra from '../components/Extra.astro';
import Extra2 from '../components/Extra2.astro';
import Extra3 from '../components/Extra3.astro';
import Extra4 from '../components/Extra4.astro';
const {title} = Astro.props;
---

<HtmlHead title="CuisineK"/>

<body>
	
		<Header title="CuisineK" />
		<Hero title="CuisineK" />
		<Extra title="CuisineK" />
		<Extra2 title="CuisineK" />
		<Extra3 title="CuisineK" />
		<Extra4 title="CuisineK" />
		<main>
			<slot />
		</main>
		<Footer title="Cuisine K"/>

</body>